.container h1 {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 90px;
}

.titleContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-between;
}

.barContainer {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: stretch;
}

.contactBar {
  position: relative;
  flex-grow: 1;
  height: 566px;
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--white);
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
  cursor: var(--external-cursor);
}

@media screen and (max-width: 768px) {
  .contactBar {
    height: 150px;
    width: initial;
  }
}

.barBackground {
  position: absolute;
  transform-origin: top;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--accent-green);
  z-index: 0;
  border-radius: inherit;
}
.contactBar > h2 {
  color: inherit;
  z-index: 1;
}
